<section class="h-full bg-second-dark font-prompt" id="projects">
  <div class="flex items-center justify-center text-xl md:text-3xl uppercase text-main-yellow font-bold py-4 md:py-8 bg-second-dark border-b border-b-main-yellow">
    Projects
  </div>
  <!-- Content -->
  <div class="flex flex-wrap gap-x-2 gap-y-2 px-5 py-5 text-main-white">
    <div class="group relative overflow-hidden flex-grow lg:basis-1/4">
            <img
              src="../../../../assets/ecommerce.png"
              alt="movie1"
              class="group-hover:scale-110 group-hover:opacity-50 duration-500 rounded-2xl group-hover:cursor-pointer"
            />
            <!-- Image details -->
            <div class="absolute px-6 bottom-8">
              <h3
                class="group-hover:text-main-yellow group-hover:mb-2 duration-500"
              >
                Ecommerce App
              </h3>
              <p
                class="text-xs opacity-0 group-hover:opacity-100 group-hover:mb-10 duration-500"
              >
                Ecommerce web application using .Net Core Mvc
              </p>
              <!-- Icons -->
              <div
                class="absolute flex space-x-8 opacity-0 -bottom-2 group-hover:bottom-2 group-hover:opacity-100 duration-500"
              >
                <a class="hover:text-main-yellow duration-500" href="#">
                  <i class="fa fa-play"></i></a>
                <a class="hover:text-main-yellow duration-500" href="#">
                  <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
    </div>
    <div class="group relative overflow-hidden flex-grow lg:basis-1/4">
      <img
        src="../../../../assets/main.png"
        alt="movie1"
        class="group-hover:scale-110 group-hover:opacity-50 duration-500 rounded-2xl group-hover:cursor-pointer"
      />
      <!-- Image details -->
      <div class="absolute px-6 bottom-8">
        <h3
          class="group-hover:text-main-yellow group-hover:mb-2 duration-500"
        >
          TechBlog Blog Application
        </h3>
        <p
          class="text-xs opacity-0 group-hover:opacity-100 group-hover:mb-10 duration-500"
        >
         Blog Web application using .Net Core Mvc.
        </p>
        <!-- Icons -->
        <div
          class="absolute flex space-x-8 opacity-0 -bottom-2 group-hover:bottom-2 group-hover:opacity-100 duration-500"
        >
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-play"></i></a>
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="group relative overflow-hidden flex-grow lg:basis-1/4">
    <img
      src="../../../../assets/lgn.png"
      alt="movie1"
      class="group-hover:scale-110 group-hover:opacity-50 duration-500 rounded-2xl group-hover:cursor-pointer"
    />
    <!-- Image details -->
    <div class="absolute px-6 bottom-8">
      <h3
        class="group-hover:text-main-yellow group-hover:mb-2 duration-500"
      >
        File Upload App
      </h3>
      <p
        class="text-xs opacity-0 group-hover:opacity-100 group-hover:mb-10 duration-500"
      >
        File Management application using .Net Core Mvc.
      </p>
      <!-- Icons -->
      <div
        class="absolute flex space-x-8 opacity-0 -bottom-2 group-hover:bottom-2 group-hover:opacity-100 duration-500"
      >
        <a class="hover:text-main-yellow duration-500" href="#">
          <i class="fa fa-play"></i></a>
        <a class="hover:text-main-yellow duration-500" href="#">
          <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    </div>
    <div class="group relative overflow-hidden flex-grow lg:basis-1/4">
      <img
        src="../../../../assets/login.png"
        alt="movie1"
        class="group-hover:scale-110 group-hover:opacity-50 duration-500 rounded-2xl group-hover:cursor-pointer"
      />
      <!-- Image details -->
      <div class="absolute px-6 bottom-8">
        <h3
          class="group-hover:text-main-yellow group-hover:mb-2 duration-500"
        >
          Contact Management App
        </h3>
        <p
          class="text-xs opacity-0 group-hover:opacity-100 group-hover:mb-10 duration-500"
        >
          Contact Management application using .Net Windows Forms.
        </p>
        <!-- Icons -->
        <div
          class="absolute flex space-x-8 opacity-0 -bottom-2 group-hover:bottom-2 group-hover:opacity-100 duration-500"
        >
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-play"></i></a>
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="group relative overflow-hidden flex-grow lg:basis-1/4">
      <img
        src="../../../../assets/chatApp.png"
        alt="movie1"
        class="group-hover:scale-110 group-hover:opacity-50 duration-500 rounded-2xl group-hover:cursor-pointer"
      />
      <!-- Image details -->
      <div class="absolute px-6 bottom-8">
        <h3
          class="group-hover:text-main-yellow group-hover:mb-2 duration-500"
        >
          Chat App
        </h3>
        <p
          class="text-xs opacity-0 group-hover:opacity-100 group-hover:mb-10 duration-500"
        >
         Real time chat application using .Net Core SignalR
        </p>
        <!-- Icons -->
        <div
          class="absolute flex space-x-8 opacity-0 -bottom-2 group-hover:bottom-2 group-hover:opacity-100 duration-500"
        >
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-play"></i></a>
          <a class="hover:text-main-yellow duration-500" href="#">
            <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

</section>
