<section class="h-full font-prompt" id="skills">
   <!-- Title -->
   <div class="flex items-center justify-center text-xl md:text-3xl uppercase text-main-yellow font-bold py-4 md:py-8 bg-second-dark border-b border-b-main-yellow">
    Skills
  </div>
  <!-- Skills Content -->
  <div class="flex flex-wrap justify-around px-8 py-6 gap-x-1 text-xl font-bold text-second-dark bg-second-dark">
    <!-- One Skill -->
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      C#
    </div>
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      .Net
    </div>
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      Javascript
    </div>
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      Angular
    </div>
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      Typescript
    </div>
    <div class="border flex-grow w-128 border-main-yellow bg-main-yellow my-2 px-20 py-4 md:py-6 rounded-lg
                hover:bg-main-dark hover:text-main-yellow duration-500 hover:cursor-pointer">
      Ef Core
    </div>
  </div>

</section>
