<section class="h-auto relative font-prompt" id="about">
    <!-- Title -->
    <div class="flex items-center justify-center text-xl md:text-3xl uppercase text-main-yellow font-bold py-4 md:py-8 bg-second-dark">
      About Me
    </div>
    <!-- Content -->
    <div class="flex flex-col md:flex-row justify-start border-2 border-main-yellow space-y-2 font-bold py-4 px-8 text-main-dark bg-main-yellow text-lg">
      <!-- Left Content -->
      <div class="basis-1/3">
         <p><i class="fa fa-user px-2"></i>Ilkin Rufullayev</p>
         <p class="lowercase"><i class="fa fa-envelope px-2"></i>rufullayevilkin66@gmail.com</p>
      </div>
      <div class="basis-1/3"></div>
      <!-- Right Content -->
      <div class="basis-1/3">
        <p><a class="hover:underline hover:underline-offset-4 duration-500" href="https://github.com/devilkinplusplus/" target="_blank">
            <i class="fa-brands fa-github px-2"></i>Github account</a>
        </p>
        <p><a class="hover:underline hover:underline-offset-4 duration-500"
          href="https://www.linkedin.com/in/ilkin-rufullayev-923628240/" target="_blank">
            <i class="fa-brands fa-linkedin px-2"></i>Linkedin account</a>
        </p>
      </div>
    </div>

</section>
