<section class="h-96 lg:h-128 group relative font-prompt">
  <!-- Background Image -->
  <img src="../../../../assets/mainBg.jpg" alt="bg image" class="h-full w-full object-cover"/>

  <!-- Short Description -->
  <div class="absolute pt-24 inset-0 flex flex-col flex-wrap items-start justify-center pl-12 pb-28 bg-gradient-to-b from-transparent to-black">
      <p class="text-3xl text-main-white font-bold hover:text-main-yellow duration-500 tracking-wider">Ilkin Rufullayev</p>
      <h4 class="wordCarousel">
        <span>I'm a</span>
        <div>
            <ul class="flip3">
                <li>Backend Developer</li>
                <li>Software Engineer</li>
                <li>Web Developer</li>
            </ul>
        </div>
      </h4>
  </div>

</section>
