<footer class="h-full py-5 px-10 font-bold bg-main-yellow text-second-dark font-prompt">
  <div class="flex flex-col md:flex-row gap-y-4 justify-between">
    <!-- Left content -->
    <div class="basis-1/5">
      <!-- Logo -->
      <div class="flex flex-col gap-y-3">
        <a class="text-3xl uppercase md:text-5xl font-bold text-transparent bg-gradient-to-tr bg-clip-text from-second-dark to-main-white
                  text-center md:text-start">
        Devilkin</a>
        <p class="text-sm text-center md:text-start">2023 Ilkin Rufullayev No &copy; copyright</p>
      </div>
    </div>
     <!-- Center content -->
    <div class="basis-2/5 tracking-wider">
      <p class="mb-2 text-3xl text-main-dark text-center md:text-start">Links</p>
      <div class="flex flex-col gap-y-2 text-base justify-center items-center md:items-start uppercase">
        <a href="#main" class="text-sm hover:text-main-white duration-500">
          <i class="fa fa-home pr-1"></i>Home</a>
        <a href="#about" class="text-sm hover:text-main-white duration-500">
          <i class="fa fa-address-card pr-1"></i>About</a>
        <a href="#skills" class="text-sm hover:text-main-white duration-500">
          <i class="fa fa-kitchen-set pr-1"></i>Skills</a>
        <a href="#projects" class="text-sm hover:text-main-white duration-500">
          <i class="fa fa-bars-progress pr-1"></i>Projects</a>
        <a href="#contact" class="text-sm hover:text-main-white duration-500">
          <i class="fa fa-address-book pr-1"></i>Contact</a>
      </div>
    </div>
    <div class="basis-1/5">
      <div class="flex justify-center md:justify-between text-center md:text-start">
        <img src="../../../../assets/fenerbahce logo.png" alt="fener" class="h-28 object-cover">
      </div>
      <div class="flex md:-ml-16 mt-2 items-center md:items-start">
        <p class="text-lg text-main-dark">Aşkınla coşkunla sen çok yaşa..</p>
      </div>
    </div>
  </div>
</footer>
